{% extends 'gui/base/base.html' %} {% load static %} {% block content %}

<div class="relative max-w-[1440px] w-full lg:min-h-screen-admin">
  <h1 class="text-3xl text-third font-bold text-center">Doctors list</h1>
  <div
    class="flex items-center justify-between pb-4 bg-white dark:bg-gray-900 mt-8"
  >
    <div class="flex items-center justify-center">
      <a
        href="{% url 'hospital:add-doctor' %}"
        class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        <i class="fa-solid fa-plus text-gray-500 mr-1"></i>
        <span>Add a doctor</span>
      </a>
    </div>
    <div class="relative">
      <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
      >
        <svg
          class="w-5 h-5 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
      <input
        type="text"
        id="search-input"
        class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search for doctors"
        oninput="searchDoctor(event,this)"
      />
    </div>
  </div>
  {% if doctors %}
  <div class="grid grid-cols-3 w-full gap-4">
    {% for doctor in doctors %}

    <div
      class="w-full w-full bg-white border border-gray-200 rounded-lg shadow"
    >
      <div class="flex justify-end px-4 pt-4">
        <button
          id="dropdownButton"
          data-dropdown-toggle="dropdown"
          class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
          type="button"
        >
          <span class="sr-only">Open dropdown</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"
            ></path>
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div
          id="dropdown"
          class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
        >
          <ul class="py-2" aria-labelledby="dropdownButton">
            <li>
              <button
                class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 w-full"
                onclick="deleteDoctor(event,this,'{{doctor.id}}')"
              >
                Delete
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col items-center pb-10">
        <img
          class="w-24 h-24 mb-3 rounded-full"
          src="{% static 'images/doctor_illustration.png' %}"
          alt="Bonnie image"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          {{doctor.username}}
        </h5>
        <span class="text-sm text-gray-500 dark:text-gray-400"
          >{{doctor.email}}</span
        >
        <div class="flex mt-4 space-x-3 md:mt-6">
          <button
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200"
            onclick="deleteDoctor(event,this,'{{doctor.id}}')"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div
    class="flex items-center jusfity-center bg-gray-100 text-center py-4 px-4 rounded-lg"
  >
    <p class="w-full text-center font-semibold text-third">
      You have no doctors
    </p>
  </div>
  {% endif %}
</div>

<script>
  function searchDoctor(event, elem) {
    event.preventDefault();
    const filter = elem.value.toLowerCase();
    const patientRows = document.querySelectorAll(".patient-row");
    patientRows.forEach(function (row) {
      const name = row.querySelector("#full_name").innerText.toLowerCase();
      if (name.indexOf(filter) > -1) {
        row.style.display = "";
      } else {
        row.style.display = "none";
      }
    });
  }
</script>

{% endblock %}
