{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card my-4">
        <div class="card-header">
          <h4 class="mb-0">Change Password</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                    {{ error }}
                  {% endfor %}
                {% endfor %}
              </div>
            {% endif %}
            <div class="mb-3">
              {{ form.old_password.label_tag }}
              {{ form.old_password }}
            </div>
            <div class="mb-3">
              {{ form.new_password1.label_tag }}
              {{ form.new_password1 }}
            </div>
            <div class="mb-3">
              {{ form.new_password2.label_tag }}
              {{ form.new_password2 }}
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


