{% extends 'gui/base/base.html' %} {% load static %} {% block content %}

<div class="relative max-w-[1440px] w-full lg:min-h-screen-admin">
  <h1 class="text-3xl text-third font-bold text-center">Archived patient</h1>
  <div
    class="flex items-center justify-end pb-4 bg-white dark:bg-gray-900 mt-8"
  >
    <div class="relative">
      <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
      >
        <svg
          class="w-5 h-5 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
      <input
        type="text"
        id="search-input"
        class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search for users"
        oninput="searchPatients(event,this)"
      />
    </div>
  </div>
  {% if archived_patients %}
  <table
    class="w-full text-sm text-left text-gray-500 dark:text-gray-400 overflow-x-auto shadow-md sm:rounded-lg"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input
              id="checkbox-all-search"
              type="checkbox"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label for="checkbox-all-search" class="sr-only">checkbox</label>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Blood Type</th>
        <th scope="col" class="px-6 py-3">Birth date</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in archived_patients %}
      <tr
        class="patient-row bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <td class="w-4 p-4">
          <div class="flex items-center">
            <input
              id="checkbox-table-search-1"
              type="checkbox"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label for="checkbox-table-search-1" class="sr-only"
              >checkbox</label
            >
          </div>
        </td>
        <th
          scope="row"
          class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
        >
          <img
            class="w-10 h-10 rounded-full"
            src="/media/{{patient.image}}"
            alt="Patient image"
          />
          <div class="pl-3">
            <div class="text-base font-semibold" id="full_name">
              {{patient.full_name}}
            </div>
            <div class="font-normal text-gray-500">
              {{patient.phone_number}}
            </div>
          </div>
        </th>
        <td class="px-6 py-4">{{patient.blood_type}}</td>
        <td class="px-6 py-4">
          <div class="flex items-center">{{patient.birth_date}}</div>
        </td>
        <td class="px-6 py-4">
          <a
            href="{% url 'patients:edit-patient' patient.id %}"
            class="font-medium text-light-purple hover:underline"
            >Edit patient</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div
    class="flex items-center jusfity-center bg-gray-100 text-center py-4 px-4 rounded-lg"
  >
    <p class="w-full text-center font-semibold text-third">
      You have no archived patients
    </p>
  </div>
  {% endif %}
</div>

<script>
  function searchPatients(event, elem) {
    event.preventDefault();
    const filter = elem.value.toLowerCase();
    const patientRows = document.querySelectorAll(".patient-row");
    patientRows.forEach(function (row) {
      const name = row.querySelector("#full_name").innerText.toLowerCase();
      if (name.indexOf(filter) > -1) {
        row.style.display = "";
      } else {
        row.style.display = "none";
      }
    });
  }
</script>

<style>
  .patient-row td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .patient-row td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .patient-row {
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #f2f2f2;
  }

  table {
    border-collapse: separate;
    border-spacing: 0 10px;
  }
</style>
{% endblock %}
