{% extends 'gui/base/base.html' %} {% load i18n %} {% load static
tailwind_tags%}{% load static %} {% block content %}
<div class="container mx-auto py-8">
  <h1 class="text-3xl text-third font-bold mb-4 text-center">Privacy Policy</h1>

  <div class="bg-white rounded-lg shadow p-6">
    <p class="mb-4">
      This privacy policy outlines how we collect, use, and protect the
      information you provide when using our website. We are committed to
      ensuring the privacy and security of your personal information.
    </p>

    <h2 class="text-xl text-third font-bold mb-2">Information Collection</h2>
    <p class="mb-4">
      When you use our website, we may collect the following types of
      information:
    </p>
    <ul class="list-disc pl-6 mb-4">
      <li>
        Your name, email address, and other contact details when you fill out
        forms or create an account.
      </li>
      <li>
        Demographic information, such as your age, gender, and location, if
        provided voluntarily.
      </li>
      <li>
        Medical data, including X-ray images and related patient information,
        which you may choose to upload to the platform.
      </li>
    </ul>

    <h2 class="text-xl text-third font-bold mb-2">Use of Information</h2>
    <p class="mb-4">
      We may use the collected information for the following purposes:
    </p>
    <ul class="list-disc pl-6 mb-4">
      <li>
        To provide and maintain our services, including managing user accounts
        and facilitating communication.
      </li>
      <li>To improve our website, services, and user experience.</li>
      <li>
        To conduct research and analysis related to medical imaging and
        diagnostic techniques, while ensuring data privacy and anonymity.
      </li>
      <li>
        To comply with legal obligations and enforce our terms of service.
      </li>
    </ul>

    <h2 class="text-xl text-third font-bold mb-2">Data Security</h2>
    <p class="mb-4">
      We take appropriate measures to protect the security and confidentiality
      of your personal information. This includes using encryption, access
      controls, and secure storage systems.
    </p>

    <h2 class="text-xl text-third font-bold mb-2">Data Sharing</h2>
    <p class="mb-4">
      We do not sell, trade, or rent your personal information to third parties.
      However, we may share information in the following circumstances:
    </p>
    <ul class="list-disc pl-6 mb-4">
      <li>
        With your consent, for specific purposes such as collaboration with
        other healthcare institutions or medical research.
      </li>
      <li>
        When required by law, or to respond to legal requests or protect our
        rights and safety.
      </li>
    </ul>

    <h2 class="text-xl text-third font-bold mb-2">Third-Party Links</h2>
    <p class="mb-4">
      Our website may contain links to third-party websites. We are not
      responsible for the privacy practices or content of those websites. We
      encourage you to review the privacy policies of any third-party sites you
      visit.
    </p>

    <h2 class="text-xl text-third font-bold mb-2">
      Changes to the Privacy Policy
    </h2>
    <p class="mb-4">
      We reserve the right to modify or update this privacy policy at any time.
      We will notify you of any changes by posting the revised policy on our
      website.
    </p>

    <h2 class="text-xl text-third font-bold mb-2">Contact Us</h2>
    <ul class="mb-4">
      <li>Email: <a href="health@hub.dz">health@hub.dz</a></li>
      <li>Phone: +213555555558</li>
      <li>Address: 123 Sidi bel abbes, Algeria</li>
    </ul>
  </div>
</div>
{% endblock %}
