{% extends 'gui/base/base.html' %} {% load i18n %} {% load static
tailwind_tags%}{% load static %} {% block content %}
<div class="container mx-auto py-8">
  <h1 class="text-3xl text-third text-center font-bold mb-4">
    Terms and Conditions
  </h1>

  <div class="bg-white rounded-lg shadow p-6">
    <p class="mb-4">
      By accessing and using this website, you accept and agree to be bound by
      the following terms and conditions:
    </p>

    <h2 class="text-xl font-bold mb-2">1. Website Use</h2>
    <p class="mb-4">
      You agree to use this website for lawful purposes and in a manner that
      does not violate the rights of others or inhibit their use of the website.
    </p>

    <h2 class="text-xl font-bold mb-2">2. User Accounts</h2>
    <p class="mb-4">
      You may need to create a user account to access certain features of the
      website. You are responsible for maintaining the confidentiality of your
      account information and agree to accept responsibility for all activities
      that occur under your account.
    </p>

    <h2 class="text-xl font-bold mb-2">3. Intellectual Property</h2>
    <p class="mb-4">
      The content, design, and intellectual property rights of this website are
      owned by the website owners. You agree not to reproduce, distribute, or
      modify any content from this website without prior written permission.
    </p>

    <h2 class="text-xl font-bold mb-2">4. Data Privacy</h2>
    <p class="mb-4">
      We collect and process personal information in accordance with our Privacy
      Policy. By using this website, you consent to the collection, use, and
      storage of your personal information as outlined in the Privacy Policy.
    </p>

    <h2 class="text-xl font-bold mb-2">5. Limitation of Liability</h2>
    <p class="mb-4">
      The website owners shall not be liable for any direct, indirect,
      incidental, consequential, or exemplary damages resulting from your use or
      inability to use the website or its services.
    </p>

    <h2 class="text-xl font-bold mb-2">6. Indemnification</h2>
    <p class="mb-4">
      You agree to indemnify and hold the website owners harmless from any
      claims, damages, liabilities, costs, or expenses arising from your use of
      the website or any violation of these terms and conditions.
    </p>

    <h2 class="text-xl font-bold mb-2">7. Modifications</h2>
    <p class="mb-4">
      We reserve the right to modify or update these terms and conditions at any
      time without prior notice. It is your responsibility to review the terms
      periodically for any changes.
    </p>

    <h2 class="text-xl font-bold mb-2">8. Governing Law</h2>
    <p class="mb-4">
      These terms and conditions shall be governed by and construed in
      accordance with the laws of [your jurisdiction]. Any disputes arising from
      these terms shall be subject to the exclusive jurisdiction of the courts
      in [your jurisdiction].
    </p>
  </div>
</div>
{% endblock %}
